Order for pizza
<h2>Here take a look {{ note }}</h2>
<form enctype="multipart/form-data" action="{% url 'nadiasgarden.order' %}" method="post">
    {% csrf_token %}
    <!-- <label for="">Topping 1:</label>
    <input type="text" id="topping1" name="topping1" />
    <label for="">Topping 2:</label>
    <input type="text" id="topping2" name="topping2" />
    <label for="">Size:</label>
    <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select> -->
    {{ pizzaform }}
    <input type="submit" value="Order Pizza" />
</form>